@model IEnumerable<TestChek.Models.PatientRecord>

@{
    ViewBag.Title = "MyResults";
    ViewBag.Class = "container body-content";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MyResults</h2>

@*<th>
    @Html.DisplayNameFor(model => model.firstName)
</th>
<th>
    @Html.DisplayNameFor(model => model.lastName)
</th>
<th>
    @Html.DisplayNameFor(model => model.medRecNumber)
</th>
<td>
    @Html.DisplayFor(modelItem => item.firstName)
</td>
<td>
    @Html.DisplayFor(modelItem => item.lastName)
</td>
<td>
    @Html.DisplayFor(modelItem => item.medRecNumber)
</td>*@

@if (Model.Count() > 0)
{

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="PatientRecords" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.medRecNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderingProvider)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timeofTest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.testId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.testName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.result)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.minReferenceRange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.maxReferenceRange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.units)
        </th>
        @*<th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.medRecNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderingProvider)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timeofTest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.testId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.testName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.result)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.minReferenceRange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maxReferenceRange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.units)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.medRecNumber }) |
                    @Html.ActionLink("Details", "Details", new { id = item.medRecNumber }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.medRecNumber })
                </td>*@
        </tr>
    }

</table>
}
else
{
    <H3>No testing completed for this account</H3>
}

@section scripts
{
    <script>

        $(document).ready(function () {
            $("#PatientRecords").DataTable();
        });
    </script>
}
