@model TestChek.Models.OrderedTestViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Class = "container body-content";

}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="aspnetusers" class="table table-bordered table-hover">
    <thead>
        @*this needs to be changed. The headers in the for loop are being displayed twice, since 2 people in list.
        Only other option I can think of is changing OrderedTestViewModel from List<AspNetUser> to just AspNetUser
         and then have the model on this page be an IEnumerable. Logic in PhsycianLinksController would need to be changed, as a result*@
        @*@foreach (var item in Model.patientList)
        {
        <tr>
            <th>
                @Html.DisplayNameFor(model => item.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => item.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => item.Id)
            </th>
            <th></th>
            <th></th>
            <th>Test Menu (choose all that apply)</th>
        </tr>
        }*@
        <tr>
            <th>
                Last Name
            </th>
            <th>
                First Name
            </th>
            <th>
                Medical Record Number
            </th>
            @*<th></th>*@
            <th></th>
            <th>Test Menu (choose all that apply)</th>
        </tr>
    </thead>

    @foreach (var item in Model.patientList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>*@
            <td>
                <button data-aspnetuser-id="@item.Id" class="btn js-order">Order New Tests</button>
                <button data-aspnetuser-id="@item.Id" class="btn js-completed">View Completed Tests</button>
            </td>
            <td>
                <form action="/" method="post">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Test Menu</label>
                        <select class="form-control js-testMenu" data-aspnetuser-id="@item.Id" id="@item.Id" onchange="selection(this)" @*id="testMenu"*@ @*onchange="run(this.value)"*@>
                            @*@foreach (var testPanel in Model.testPanelList)
                            {
                            @*<option data-testpanel-test="@testPanel.panelName">@testPanel.panelName</option>*@
                            @*<option value="@testPanel.panelName">@testPanel.panelName</option>*@
                            <option value="@Model.CBC" @*selected="selected"*@>@Model.CBC</option>
                            <option value="@Model.BMP">@Model.BMP</option>
                            <option value="@Model.UA">@Model.UA</option>
                        </select>
                        <input data-aspnetuser-id="@item.Id" class="btn js-order" type="button" id="btnOrder" value="Order Test" />
                        @*<button data-aspnetuser-id="@item.Id" class="btn js-order">Order</button>*@
                    </div>
                </form>
            </td>
            @*<td>
                <select id="testMenu" class="selectpicker" multiple>
                    @foreach (var testPanel in Model.testPanelList)
                    {
                        <option data-testpanel-test="@testPanel.panelName">@testPanel.panelName</option>
                    }
                </select>
                <button data-aspnetuser-id="@item.Id" class="btn js-order">Order</button>
            </td>*@
            @*<td>
                    <select id="testMenu" class="selectpicker" multiple>
                        <option id="@nameof(testPanel.CBC).ToString()">CBC</option>
                        <option id="@nameof(testPanel.BasicMetPanel).ToString()">Basic Met. Panel</option>
                        <option id="@nameof(testPanel.UrineScreen).ToString()">Urine Screen</option>
                    </select>
                    <button data-aspnetuser-id="@item.Id" class="btn js-order">Order</button>
                </td>*@

            
        </tr>
    }
</table>

@section scripts
{
<script>
    var selectedOption;
    $("#aspnetusers .js-testMenu").on("change", function () {
        var object = $(this).attr("id");
        selectedOption = document.getElementById(object).value;
        console.log(selectedOption);
    })

    //I need to find way to incorporate onchange=function(this or this.value) in the select object so that only one test gets ordered
    var testSelected;
    //$("#aspnetusers .js-testMenu").on("change", function () {
    function selection() {
        var menu = $("#aspnetusers .js-testMenu");
        //var menu = $(this);
        var individualMenu = menu.attr("data-aspnetuser-id");
        var personalMenu = menu.attr("id");
        //testSelected = document.getElementById(personalMenu).value;
        var testSelected = this.value;
        //console.log(testSelected);
    };
    //});


  //  var newValue;
  //  $('#testMenu').on('change', function () {
  //      newValue = this.value;
  //      //console.log(newValue);
  //});

    @*var testMenu = document.getElementById("testMenu");
    var testName = testMenu.options[testMenu.selectedIndex].value;
    //var selectedTest = document.getElementById("testmenu").val("@Model.CBC");
    function run() {
        var updatedValue = document.getElementsByClassName(".js-testMenu").value;
        var testName = document.getElementById("testMenu").value;
        console.log(testName);*@


        //var testMenu = document.getElementById("testMenu").value;

        //var selectedTest = testName;
        //var selectedTest = testMenu;
        //var testMenu = document.getElementById("testMenu");
    //};

    $(document).ready(function () {
        $("#aspnetusers").DataTable();
        var str = "";
        //run();

        //$("testMenu").on("change", function () {
        //    var testName = document.getElementById("testMenu").value;
        //})


        //var selectedValue = document.getElementById("testmenu").val("@Model.CBC");

        //var testMenu = document.getElementById("testMenu").value;
        //var testName = testMenu.options[testMenu.selectedIndex].value;

        //function run() {
            
        //    //var selectedTest = testName;
        //    var selectedTest = testMenu;

        //}
        //$("select")
        //    .change(function () {
        //        //var str = "";
        //        $("select option:selected").each(function () {
        //            str = $(this).text();
        //        });
        //        //$("div").text(str);
        //    })
        //    .change();
        //function getSelectedValue() {

        //$("#aspnetusers .form-control").on("change", function () {

        //    //var selectedValue = $("#testmenu").value;
        //    var selectedValue = document.getElementById("testmenu").value;
        //    console.log(selectedValue);
        //});
        //getSelectedValue();

        //$.fn.selectpicker.Constructor.BootstrapVersion = '4';
        //$("#testMenu").selectpicker('render');
        //$("#testMenu").selectpicker('refresh');

        //will probably need to change values as (this) doesn't refer to the right function yet




        $("#aspnetusers .js-order").on("click", function () {
        //$("#aspnetusers .js-order").on("click", function () {
        @*var postToAPI = { @Model.orderedTest.test: $(this).attr("data-testpanel-test"), @Model.orderedTest.Id: $(this).attr("data-aspnetuser-id") }*@
            //$("#testMenu").selectpicker('refresh');
            //var postToAPI = { "Id": $(this).attr("data-aspnetuser-id"), "test": $(this).attr("data-testpanel-test") }

            var button = $(this);

            //$("select")
            //    .change(function () {
            //        //var str = "";
            //        $("select option:selected").each(function () {
            //            str = $(this).text();
            //        });
            //        //$("div").text(str);
            //    })
            //    .change();

            //var testName = $("#testmenu").val("id");
            var Id = { "Id": button.attr("data-aspnetuser-id") };
            var test = { "test": selectedOption };

            //var test = { "test": testSelected };

            //var test = { "test": testName };

            //var test = { "test": selectedTest };
            //var test = { "test": str };
            //var test = { "test": selectedValue };
            //var test = { "test": getSelectedValue() };
            //var test = { "test": testName };
            //var test = { "test": button.attr("data-testpanel-test") };

            if (confirm("Are you sure you want to order these tests?")) {
                $.ajax({
                    //method: "CreateOrderedTest",
                    method: "POST",
                    //data: JSON.stringify(postToAPI),
                    //data: { Id = Id, test = test},
                    data: JSON.stringify({ Id, test }),


                    //data: postToAPI,
                    url: "/api/OrderedTest/",
                    contentType: "application/json; charset=utf-8",
                    //contentType: "application/x-www-form-urlencoded",
                    dataType: 'json',
                    success: function () {
                        console.log("Success");
                    }
                })
            }
        });


        //$("#aspnetusers .js-order").on("click", function () {
        //    if (confirm("Are you sure you want to order these tests?")) {
        //        $.ajax({
        //            url: "/api/aspnetusers/" + $(this).attr("data-aspnetuser-id"),
        //            method: "PUT",
        //            success: function () {
        //                console.log("Success");
        //            }
        //        })
        //    }
        //});

        });
</script>
}
